<nav>
  <div class="site-title">
    <a href="/"><h1>contacts</h1></a>
    <p>contact site</p>
  </div>
  <ul>
    <li><a href="/">contacts</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contacts-create">New contact</a></li>
  </ul>
</nav>